.avatar {
    position: relative;
    margin-top: -1.0em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.login-container {
    width: 90%;
    background: white;
    padding: 15px;
    max-height: 100%;
    margin: auto;
    margin-top: 5px;

    justify-content: center;
    text-align: center;
}
